
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 30px;
    text-align: right;
    vertical-align: middle;

    background-color: black;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 2px;
    margin-right: 5px;
    line-height: 30px;
}

main{
    padding: 60px 0 65px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
}

main>.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1428px;
}

main .row>div{
    position: relative;
    width: 200px;
    height: 120px;
    margin: 6px 2px;
}

main>.row div>.label{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    color: white;
    padding: 4px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

footer>div{
    height: 100%;
    display: flex;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    border-radius: 2px;
    display: inline-block;
    height: 100%;
    display: flex;
}

footer a>div{
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
}

footer a i.fa-angle-up{
    font-size: 11px;
}

footer a i{
    font-size: 20px;
}

footer a i.fa-share-square{
    color: #4bc800;
}

footer a.end{
    text-decoration: none;
    background-color: #4a4a4a;
    color: red;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    line-height: 65px;
    padding: 0 20px;
}